<div class="bootstrap-wrapper">
  <h1>Installation not finished</h1>
  <p>Please install the new sagenda's calendar plugin :</p>
  <a href="https://wordpress.org/plugins/sagenda-calendar/">https://wordpress.org/plugins/sagenda-calendar/</a>
  <p>And use new shortcode [sagenda-calendar-wp]</p>
</div>
